.link {
    text-decoration: none;
    color: rgb(123, 123, 187);
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.3s all;
}

.link:hover {
text-decoration: underline;
color: blueviolet;
}

.link--active {
    font-weight: bold;
    font-style: italic;
}